.app_right_confirmed {
  color: rgba(255, 0, 0, 0.89);
  text-shadow: 0 0 1px rgba(46, 0, 0, 0.979);
}

.app_right_active {
  color: rgba(0, 129, 204, 0.822);
  text-shadow: 0 0 1px rgba(0, 37, 58, 0.822);
}

.app_right_recovered {
  color: rgb(0, 190, 0);
  text-shadow: 0 0 1px rgb(0, 88, 0);
}

.app_right_deceased {
  color: gray;
  text-shadow: 0 0 1px rgb(56, 56, 56);
}

#id_title {
  font-weight: 700;
}

#id_cases {
  font-weight: 700;
}
